canvas{
	height: 360px !important;
}
button{
	margin-right: 10px !important;
	margin-bottom: 10px !important;
	height: 30px !important;
	padding-top: 2px !important;
}

.btn-dark3 {
	background-color: #2c2640;
	color: #E5E4E7;
}
.btn-dark3:hover{
	background-color: #211D30;
}
.btn-dark3:focus {
	box-shadow: 0 0 1px 3px #565360;
	border-color: #1b1828;
}
.btn-dark3:active {
	background-color: #211D30;
	box-shadow: 0 0 1px 3px #565360;
	border-color: #1b1828;
}