#dropdownMenu2 {
	background-color:#2C2640;
	color:#E5E4E7;

}


.dropdown-menu {
	background-color:#2C2640;
	overflow: auto;
	margin: 0 auto;
  height: 400px;
  width: 260px;
}

.dropdown-menu button {
	color: #E5E4E7;
}

.dropdown-menu > #dropdown-item:nth-child(odd) button{
  background-color: #2C2640;
}
.dropdown-menu > #dropdown-item:nth-child(even) button{
  background-color: #211D30;
}

.dropdown-menu > hover button{
	background-color:#9593A0;
	color: #E5E4E7;
}